<div class="inbox">
    <div class="inbox__count">
        You have {{ inbox.messages.length && inbox.messages.length || 'no' }} messages
    </div>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <form ng-hide="!inbox.messages.length" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" ng-model="inbox.search" type="search" placeholder="Search..." aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </nav>
    <ul class="list-group">
        <li ng-show="!inbox.messages.length" class="list-group-item disabled">
            No messages! Try sending one to a friend.
        </li>
        <li class="list-group-item" ng-repeat="message in inbox.messages | filter:{ from: inbox.search }">
              <div class="row">
                <div class="col-sm-2 col-md-2">
                    {{ message.from }}
                </div>
                <div class="col-sm-8 col-md-8">
                    {{ message.subject }}
                </div>
                 <div class="col-sm-2 col-md-2">
                    {{ message.date | date: 'dd/MM/yyyy' }}
                </div>
              </div>

            <div class="inbox__list-actions">
                <a href="" ng-click="inbox.goToMessage(message.id);"> Read </a>
                <a href="" ng-click="inbox.deleteMessage(id, $index);"> Delete</a>
            </div>
        </li>
    </ul>
</div>
