<div class="inbox">
    <div class="inbox__count">
        You have {{ inbox.messages.length && inbox.messages.length || 'no' }} messages
    </div>
    <nav class="padding15px navbar navbar-light" style="background-color: #e3f2fd;">
        <form ng-hide="!inbox.messages.length" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" ng-model="inbox.search" type="search" placeholder="Search..." aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </nav>
    <div class="padding15px">
        <input name="all" type="checkbox" ng-click="selectAll(inbox.messages)" />
        <input type="button" class="btn deleteBtn" disabled="disabled"  ng-click="deleteMessage(inbox.messages)" value="Delete">
            
    </div>
    <div class="table-responsive"> 
        <table class="table table-striped table-bordered table-hover dataTables-example"> 
            <tbody>
                <tr ng-show="!inbox.messages.length">
                    <td colspan="4">No messages! Try sending one to a friend.</td>
                </tr>
                <tr ng-repeat="message in inbox.messages | filter:{ from: inbox.search }">
                    <td><input name="all" ng-model="message.checked" type="checkbox" /></td>
                    <td>{{ message.from }}</td>
                    <td ng-click="inbox.goToMessage(message.id)">{{ message.subject }}</td>
                    <td> {{ message.date | date: 'dd/MM/yyyy' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
